.register-form {
    width: 45vw;
    margin: auto;
    display: flex;
}

#registerButton {
    margin: auto;
    margin-right: 1vw;
}

.error {
    width: 45vw;
    color: white;
    background-color: red;
}